@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.uppertext{
    display: flex;
    flex: 0.1;
    background-color:blueviolet;
   
}

.maintext{
    display: flex;
    flex: 0.9;
    flex-direction: row;
    background-color: darksalmon;
}


.leftmenu{
    display: flex;
    flex: 0.2;
    background-color: green;
} 

.inputcontainer{
    display: flex;
    flex: 0.8;
    background-color: orange;
    flex-direction: column;
   
}  

 .inputtext1{
    display: flex;
    flex: 0.2;
    background-color: red;
} 

.inputtext2{
    flex: 0.8;
    display: flex;
    background-color: white;
} 


.text{
    display: flex;
    flex: 0.60;
    background-color: seagreen;
}

.image{
    display: flex;
    flex: 0.40;
    background-color: skyblue;
}

