 .btn{
	display: block;
	width: 45%;
	height: 50px;
	border-radius: 5px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32bd8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
} 