.footermain{
    display: flex;
   
    height: 100vh;
    flex-direction: column;

}

.logo{
    display: flex;
    flex: 0.3;
    justify-content: center;
    align-content: center;

    align-items: center;
    
   
    
   

}

.text{
    display: flex;
flex: 0.6;
justify-content: space-evenly;


}

.copy{
display: flex;
flex: 0.1;
justify-content: space-evenly;
align-items: center;







}


.text1{
 
    display: flex;
    flex: 0.20;
}

.text2{
   
    display: flex;
    flex: 0.20;
}

.text3{
   
    display: flex;
    flex: 0.20;

}


.links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

